.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 5vh;
  padding: 1vh;
  position: relative;
}

.loading{
  font-size: xx-large;
  background-color: #5555;
  color: #fff;
  backdrop-filter: blur(10px);
  z-index: 9999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dark{
  background-color: black;
}

.light{
  background-color: white;
}

.dropdown{
  width: 20vw;
  height: 5vh;
  font-size: larger;
  padding: 0vw 1vw ;
}

.theme{
  display: flex;
  gap: 10vw;
}

.theme--btn{
  border-radius: 15px;
  border: none;
  padding: 2vh;
}

.active{
  color: #fff;
  background-color: #555;
}

.element--container{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
